body {
  font-family: sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
